@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #1b2636;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

#app {
  height: 100vh;
}
