name: On Push To Main

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/kiloexabyte/wails-ubuntu
    steps:
      - uses: actions/checkout@v6

      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: ./frontend/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Run CI
        env:
          GOFLAGS: -buildvcs=false
        run: op ci
